<div class="fundo__geral"></div>
<div class="container" id="container-portfolio">

  <ul class="caminho">
    <li><a routerLink="/">Home</a></li>
    <li> > </li>
    <li class="caminho__atual">Portfolio</li>
  </ul>

  <h1>Portfolio</h1>

  <div *ngFor="let projeto of projetos" class="miniatura" [style.backgroundImage]="'url(' + projeto.imagem + ')'">
    <a [routerLink]="projeto.link">
      <div class="blackbox">
        <div class="blackbox-text">
          <h1>{{ projeto.nome }}</h1>
          <h2>{{ projeto.descricao }}</h2>
        </div>
      </div>
    </a>
  </div>

  <br>
  <a class="back-link" routerLink="/">&larr; Voltar ao início</a>

</div>
