<div class="fundo__geral"></div>
<div class="container" id="container-calculadoraMB">

  <ul class="caminho">
    <li><a routerLink="/">Home</a></li>
    <li>></li>
    <li><a routerLink="/portfolio">Portfolio</a></li>
    <li>></li>
    <li class="caminho__atual">Calculadora M.B.</li>
  </ul>

  <h1>Calculadora M.B.</h1>

  <img class="foto-trabalhos" id="foto-trabalhos-1" src="../../../assets/img/projects/calculadoraMB/calculadoraMB-inicio.png" alt="CalculadoraMB">
  <img class="foto-trabalhos" id="foto-trabalhos-1-pc" src="../../../assets/img/projects/calculadoraMB/calculadoraMB-inicio-pc.png" alt="CalculadoraMB">

  <h2>Calculadora M.B.: Calculadora desenvolvida para cumprir com as 4 operações básicas.</h2>

  <p>Calculadora M.B. é uma aplicação de software concebida para proporcionar aos utilizadores a capacidade de realizar operações matemáticas fundamentais com facilidade e precisão.</p>

  <p>Desenvolvida em C#, uma linguagem de programação robusta e versátil, esta calculadora oferece uma solução prática para efetuar operações de adição, subtração, multiplicação e divisão.</p>

  <img class="foto-trabalhos" id="foto-trabalhos-2" src="../../../assets/img/projects/calculadoraMB/calculadoraMB-funcionando.png" alt="CalculadoraMB">
  <img class="foto-trabalhos" id="foto-trabalhos-2-pc" src="../../../assets/img/projects/calculadoraMB/calculadoraMB-funcionando-pc.png" alt="CalculadoraMB">

  <p>A interface da calculadora é intuitiva, com botões para números de 0 a 9 e operadores de adição (+), subtração (-), multiplicação (*) e divisão (/). Os utilizadores podem inserir números e operadores diretamente através do teclado ou ao clicar nos botões da interface. A calculadora é programada para realizar cálculos precisos e devolver resultados confiáveis.</p>

  <br>
  <a class="back-link" routerLink="/portfolio">&larr; Voltar ao Portfolio</a>

</div>
