@import '../../../styles.scss';
.back-link{
  position: relative;
  color: $cor-selecao;
  text-decoration: underline;
  top: 30px;
}

#container-contato{
  padding-bottom: 400px;
}



@media (max-width:$breakpoint-lg) {
  #container-contato{
      padding-bottom: 480px;
  }
}

@media (max-width: 375px){
  #container-contato{
      padding-bottom: 520px;
  }
}
