<div class="fundo__geral"></div>
<div id="container-contato" class="container">
  <ul class="caminho">
    <li><a routerLink="/">Home</a></li>
    <li>></li>
    <li class="caminho__atual">Contato</li>
  </ul>
  <div class="fundo-conteudo">
    <div>

      <h1>Contato</h1>

      <h3>E-mail:</h3>
      <p>matheus.sbatista&#64;outlook.com</p>

      <h3>Telefone:</h3>
      <p>
        <a
          href="https://api.whatsapp.com/send?phone=5511959065798"
          target="_blank"
        >
          +55 (11) 95906-5798</a
        >
      </p>

      <h3>Redes Sociais:</h3>
      <p>
        <a
          style="text-decoration: underline"
          href="https://github.com/matheusbatista1"
          target="_blank"
          >matheusbatista1 | GitHub</a
        >
      </p>
      <p>
        <a
          style="text-decoration: underline"
          href="https://www.linkedin.com/in/matheusbatista1998/"
          target="_blank"
          >Matheus dos Santos Batista | LinkedIn</a
        >
      </p>
    </div>
    <div class="fundo-conteudo__logo-com-fundo">
      <img  src="../../../assets/img/logo-com-fundo.png" alt="Logo com Fundo">
    </div>
  </div>
  <a class="back-link" routerLink="/">&larr; Voltar ao início</a>
</div>
