@import "../../../styles.scss";
.back-link {
  position: relative;
  color: $cor-selecao;
  text-decoration: underline;
  top: 30px;
}

.fundo-conteudo {
  padding: 20px;
  display: flex;
  border: solid 2px $cor-selecao;
  background-color: #dddddd2a;

  &__logo-com-fundo{
    img{
      width: 150px;
      float: inline-end;
    }
    margin: 70px;
    width: 100% !important;
  }
}

@media (max-width: 1050px) {
  .fundo-conteudo{
    display: block;
    &__logo-com-fundo{
      img{
        width: 150px;
        float: none;
      }
      margin: 30px;
      width: 100% !important;
    }
  }
}

@media (max-width: 375px) {
  .fundo-conteudo {
    padding: 5px;
  }
}
