<footer class="rodape">
  <div class="rodape__linha-1">
      <div class="container-rodape">
          <div class="rodape__coluna">
              <p>Este site foi criado com paixão e dedicação por Matheus dos Santos Batista. Todos os elementos de design, conteúdo e desenvolvimento são de autoria exclusiva deste criador. Para consultas, colaborações ou informações adicionais, entre em contato através do e-mail matheus.sbatista&#64;outlook.com.</p>
              <br>
              <div>
                <img src="../../../../assets/img/logo-com-fundo.webp" alt="Logo com Fundo" width="50px">
              </div>
          </div>
          <div class="rodape__coluna">
              <h2 class="rodape__titulo">Social</h2>
              <ul class="rodape__lista-link">
                  <li><a class="rodape__lista-link__item" href="https://github.com/matheusbatista1" target="_blank">GitHub</a></li>
                  <li><a class="rodape__lista-link__item" href="https://www.linkedin.com/in/matheusbatista1998/" target="_blank">LinkedIn</a></li>
              </ul>
          </div>
          <div class="rodape__coluna">
              <h2 class="rodape__titulo">Links</h2>
              <ul class="rodape__lista-link">
                  <li><a class="rodape__lista-link__item" routerLink="/">Home</a></li>
                  <li><a class="rodape__lista-link__item" routerLink="/portfolio">Portfólio</a></li>
                  <li><a class="rodape__lista-link__item" routerLink="/curriculo">Currículo</a></li>
                  <li><a class="rodape__lista-link__item" routerLink="/repositorios">Repositórios</a></li>
                  <li><a class="rodape__lista-link__item" routerLink="/contato">Contato</a></li>
              </ul>
          </div>
      </div><!--Fim do container-->
  </div>
  <div class="rodape__linha-1" id="direitos-autorais">
      &copy; {{ anoAtual }} - Todos os direitos reservados - Matheus dos Santos Batista
  </div>
</footer>
