<div class="container" id="container-calcpricing">

  <ul class="caminho">
    <li><a href="/">Home</a></li>
    <li>></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li>></li>
    <li class="caminho__atual">CalcPricing</li>
  </ul>

  <h1>CalcPricing</h1>

  <img class="foto-trabalhos" id="foto-trabalhos-1" src="../../../assets/img/projects/calcpricing/tela-inicial-calcpricing.png" alt="CalcPricing">
  <img class="foto-trabalhos" id="foto-trabalhos-1-pc" src="../../../assets/img/projects/calcpricing/tela-inicial-calcpricing-pc.png" alt="CalcPricing">

  <h2>CalcPricing: Estimador de Preços para Comissões de Arte</h2>

  <p>O CalcPricing é uma ferramenta online desenvolvida sob medida para ser incorporada como um iframe em um site de venda de arte digital.</p>

  <p>Essa ferramenta permite que os clientes calculem os preços de suas comissões artísticas de maneira rápida e eficiente. Basta selecionar o tipo de arte desejado, escolher itens extras e licenças, e você receberá um preço estimado instantaneamente.</p>

  <img class="foto-trabalhos" id="foto-trabalhos-2" src="../../../assets/img/projects/calcpricing/tela-using-calcpricing.png" alt="CalcPricing">
  <img class="foto-trabalhos" id="foto-trabalhos-2-pc" src="../../../assets/img/projects/calcpricing/tela-using-calcpricing-pc.png" alt="CalcPricing">

  <p>A interface do CalcPricing foi projetada com responsividade em mente, garantindo que os usuários desfrutem de uma experiência perfeita em uma variedade de dispositivos. Para o desenvolvimento dessa ferramenta, foram utilizadas as tecnologias Javascript, HTML5 e CSS3.</p>

  <img class="foto-trabalhos" id="foto-trabalhos-3" src="../../../assets/img/projects/calcpricing/tela-funcionando-calcpricing.png" alt="CalcPricing">
  <img class="foto-trabalhos" id="foto-trabalhos-3-pc" src="../../../assets/img/projects/calcpricing/tela-funcionando-calcpricing-pc.png" alt="CalcPricing">

  <br>
  <a class="back-link" href="/portfolio">&larr; Voltar ao Portfolio</a>

</div>
