@import '../../../../styles.scss';

#container-calcpricing{
  padding-bottom: 300px;
  text-align: center;
  h1{
      text-align: center;
  }
  h2, p{
      text-align: justify;
  }
  .fundo-conteudo{
    padding: 20px;
    border: solid 2px $cor-selecao;
    background-color: #dddddd2a;
  }
  .caminho{
      text-align: left;
  }
  .foto-trabalhos{
      width: 100%;
      max-width: 1000px;
      margin-bottom: 10px;
      margin-top: 10px;
  }
  #foto-trabalhos-1, #foto-trabalhos-2, #foto-trabalhos-3 {
      display: none;
  }
  #foto-trabalhos-1-pc, #foto-trabalhos-2-pc, #foto-trabalhos-3-pc {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
  }
  .back-link{
      display: flex;
      color: $cor-selecao;
  }
}

@media (max-width:$breakpoint-lg) {
  #container-calcpricing{
      padding-bottom: 480px;
      .foto-trabalhos{
          max-width: 400px;
          width: 80%;
      }
      #foto-trabalhos-1, #foto-trabalhos-2, #foto-trabalhos-3 {
          margin-left: auto;
          margin-right: auto;
          display: block;
      }
      #foto-trabalhos-1-pc, #foto-trabalhos-2-pc, #foto-trabalhos-3-pc {
          display: none;
      }
  }
}

@media (max-width: 375px){
  #container-calcpricing{
      padding-bottom: 520px;
  }
}
