<div class="container" id="container-calculadoraIMC">

  <ul class="caminho">
    <li><a href="/">Home</a></li>
    <li>></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li>></li>
    <li class="caminho__atual">Calculadora de IMC</li>
  </ul>

  <h1>Calculadora de IMC</h1>

  <img class="foto-trabalhos" id="foto-trabalhos-1" src="../../../assets/img/projects/calculadoraIMC/calculadoraIMC-inicio.png" alt="CalculadoraIMC">
  <img class="foto-trabalhos" id="foto-trabalhos-1-pc" src="../../../assets/img/projects/calculadoraIMC/calculadoraIMC-inicio-pc.png" alt="CalculadoraIMC">

  <h2>Calculadora de IMC: Calcule seu IMC baseado no peso e altura.</h2>

  <p>A Calculadora de Índice de Massa Corporal (IMC) é uma aplicação web simples e eficaz que permite aos usuários avaliar sua saúde e peso corporal com facilidade.</p>

  <p>Com campos de entrada para peso e altura, esta ferramenta fornece uma maneira rápida de calcular o IMC e apresenta o resultado com uma classificação visual que indica se o usuário está abaixo do peso, com peso normal, com sobrepeso ou em alguma categoria de obesidade.</p>

  <img class="foto-trabalhos" id="foto-trabalhos-2" src="../../../assets/img/projects/calculadoraIMC/calculadoraIMC-funcionando.png" alt="CalculadoraIMC">
  <img class="foto-trabalhos" id="foto-trabalhos-2-pc" src="../../../assets/img/projects/calculadoraIMC/calculadoraIMC-funcionando-pc.png" alt="CalculadoraIMC">

  <p>É uma ferramenta prática e útil para monitorar a saúde e o peso corporal de forma simples, desenvolvida com as mais recentes tecnologias da web. Para o desenvolvimento dessa ferramenta, foram utilizadas as tecnologias Javascript, HTML5 e CSS3.</p>

  <br>
  <a class="back-link" href="/portfolio">&larr; Voltar ao Portfolio</a>

</div>
